/* =====================
Root Variables light mode
========================= */
body {
  --shade-light: #fff;
  --shade-midtone: #2d3038;
  --shade-dark: #000;
  --color-light: #4f5775;
  --color-midtone: #2b3b75;
  --color-dark: #1c1f2a;
  --color-accent: #e35205;
  --color-accent-two: #d4c363;
  --color-accent-three: #c0c7e5;
  --color-page-bg: var(--shade-light);
  --color-nav-bg: var(--color-dark);
  --color-nav-link: var(--shade-light);
  --color-text: var(--shade-midtone);
  --color-text-heading: var(--shade-dark);
  --color-blockquote: var(--color-accent-three);
  --color-link: var(--color-midtone);
  --color-link-achov: var(--color-accent);
  --color-icon: var(--color-dark);
  --color-icon-achov: var(--color-light);
  transition: all 1s;
}

/* =====================
Root Variables dark mode
======================== */
body.dark {
  --shade-light: #dfdfdf;
  --shade-midtone: #5f6267;
  --shade-dark: #313131;
  --color-light: #abb2ce;
  --color-midtone: #707eb1;
  --color-dark: #262933;
  --color-accent: #d46529;
  --color-accent-two: #dfe305;
  --color-accent-three: #414861;
  --color-page-bg: var(--color-dark);
  --color-nav-bg: var(--color-dark);
  --color-nav-link: var(--shade-light);
  --color-text: var(--shade-light);
  --color-text-heading: var(--shade-light);
  --color-blockquote: var(--color-accent-three);
  --color-link: var(--color-light);
  --color-link-achov: var(--color-accent);
  --color-icon: var(--color-midtone);
  --color-icon-achov: var(--color-light);
  transition: all 1s;
}

/* =======
Animations
========== */
@keyframes fill-color-dark {
  0% {
    fill: var(--color-ape-dark);
  }
  100% {
    fill: var(--color-ape-light);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(-1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1;
  overflow: hidden;
  background: var(--color-page-bg);
}

p {
  line-height: 1.2;
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text-heading);
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  list-style-type: none;
}

a:link {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  color: var(--color-link-achov);
}

a:active {
  color: var(--color-link-achov);
}

a:visited {
  color: var(--color-link);
}

a:hover h1,
a:hover h2,
a:hover h3,
a:hover h4,
a:hover h5 {
  color: var(--color-link-achov);
  text-decoration: underline;
}

button {
  background-color: transparent;
  border: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
