/* =====================
Root Variables light mode
========================= */
body {
  /* Achromatic Definitions */
  --shade-light: #fff;
  --shade-midtone: #2d3038;
  --shade-dark: #000;
  /* Color Definitions */
  --color-light: #4f5775;
  --color-midtone: #2b3b75;
  --color-dark: #1c1f2a;
  /* Accent Definitions */
  --color-accent: #e35205;
  --color-accent-two: #d4c363;
  --color-accent-three: #c0c7e5;
  /* Module Assignment */
  --color-page-bg: var(--shade-light);
  --color-nav-bg: var(--shade-light);
  --color-nav-link: var(--color-dark);
  --color-text: var(--shade-midtone);
  --color-text-heading: var(--shade-dark);
  --color-blockquote: var(--color-accent-three);
  --color-link: var(--color-midtone);
  --color-link-achov: var(--color-accent);
  --color-button: var(--color-dark);
  --color-button-hover: var(--color-light);
  --color-icon: var(--color-dark);
  --color-icon-achov: var(--color-light);
  --color-icon-outline-achov: var(--color-accent);
  --color-border: var(--shade-midtone);
  --color-placeholder: var(--shade-dark);
  --color-warning: var(--color-accent);
  transition: background 1s, color 1s, fill 1s;
}

/* =====================
Root Variables dark mode
======================== */
body.dark {
  /* Achromatic Definitions */
  --shade-light: #fff;
  --shade-midtone: #2d3038;
  --shade-dark: #000;
  /* Color Definitions */
  --color-light: #7986b5;
  --color-midtone: #4f5775;
  --color-dark: #1c1f2a;
  /* Accent Definitions */
  --color-accent: #e35205;
  --color-accent-two: #d4c363;
  --color-accent-three: #2b8f9b;
  /* Module Assignment */
  --color-page-bg: var(--color-dark);
  --color-nav-bg: var(--color-dark);
  --color-nav-link: var(--shade-light);
  --color-text: var(--shade-light);
  --color-text-heading: var(--shade-light);
  --color-blockquote: var(--color-accent-three);
  --color-link: var(--color-light);
  --color-link-achov: var(--color-accent);
  --color-button: var(--color-light);
  --color-button-hover: var(--color-accent-three);
  --color-icon: var(--color-light);
  --color-icon-achov: var(--color-accent-three);
  --color-icon-outline-achov: var(--color-accent);
  --color-border: var(--shade-light);
  --color-placeholder: var(--shade-light);
  --color-warning: var(--color-accent);
  transition: background 1s, color 1s, fill 1s;
}

/* =======
Animations
========== */
@keyframes fill-color-dark {
  0% {
    fill: var(--color-ape-dark);
  }
  100% {
    fill: var(--color-ape-light);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(-1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1;
  overflow: hidden;
  background: var(--color-page-bg);
}

p {
  line-height: 1.2;
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text-heading);
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  list-style-type: none;
}

a:link {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  color: var(--color-link-achov);
}

a:active {
  color: var(--color-link-achov);
}

a:visited {
  color: var(--color-link);
}

a:hover h1,
a:hover h2,
a:hover h3,
a:hover h4,
a:hover h5 {
  color: var(--color-link-achov);
  text-decoration: underline;
}

hr {
  background-color: var(--color-text);
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ========
Form styles
=========== */
form {
  margin: 1rem;
}

form .hidden {
  display: none;
}

label {
  font-size: 1rem;
  line-height: 2.25rem;
}

input {
  min-width: 250px;
  padding: 0 5px;
  border-top: none;
  border-right: none;
  border-bottom: solid 1px var(--color-border);
  border-left: none;
  font-size: 1rem;
  line-height: 1.2rem;
  background: transparent;
  color: var(--color-text);
}

@media (min-width: 411px) {
  input {
    min-width: 350px;
  }
}

textarea {
  min-width: 250px;
  min-height: 150px;
  padding: 5px;
  border: solid 1px var(--color-border);
  font-size: 1rem;
  line-height: 1.2rem;
  background: transparent;
  color: var(--color-text);
}

@media (min-width: 411px) {
  textarea {
    min-width: 350px;
    outline: none;
  }
}

input:invalid,
textarea:invalid {
  outline: none;
  box-shadow: none;
}

input:not(:placeholder-shown):invalid {
  border-bottom: 1px solid var(--color-warning);
}

textarea:not(:placeholder-shown):invalid {
  border: 1px solid var(--color-warning);
}

::placeholder {
  color: var(--color-placeholder);
}

/* ====
Buttons
======= */
button {
  height: 28px;
  border: none;
  border-radius: 0.15rem;
  padding: 0 1rem;
  font-size: 0.9rem;
  line-height: 0.9rem;
  transition: transform 0.5s ease-in-out;
  background: var(--color-button);
  color: var(--color-page-bg);
  cursor: pointer;
}

button:hover {
  background: var(--color-button-hover);
}
