/* NAVIGATION MODULES*/

/* ====================
Primary site nagivation
======================= */
.navbar {
  padding: 15px 0;
  background: var(--theme-color-darkest);
}

.primary-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
}

.primary-nav > li > a {
  padding: 10px;
  font-size: 1.3rem;
  text-transform: uppercase;
  transition: color 0.5s, font-size 0.5s;
  transition-timing-function: ease-in-out;
  color: var(--theme-shade-lightest);
}

.primary-nav > li > a:hover,
.primary-nav > li > a.active {
  color: var(--theme-color-accent);
}

@media screen and (min-width: 400px) {
  .primary-nav > li > a {
    padding: 15px;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .primary-nav > li > a {
    padding: 20px;
    font-size: 1.75rem;
  }
}

@media (min-width: 1024px) {
  .navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background: linear-gradient(
      90deg,
      var(--theme-color-darkest) 30%,
      #222633 60%,
      #242836 75%,
      #4f5775 80%,
      var(--theme-shade-lightest) 88%,
      var(--theme-color-accent) 100%
    );
  }

  .primary-nav {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 33%;
    max-height: 250px;
    margin-left: 5%;
  }
}

/* ========================
End primary site nagivation
=========================== */

/* ====================
Social media nagivation
======================= */
/* .social-nav {
  display: flex;
}

.social-nav li > a {
  margin: 0 10px;
  color: var(--theme-color-darkest);
  text-decoration: none;
} */
/* ========================
End social media nagivation
=========================== */

/* TEXT MODULES */
h1.page-title {
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;
  color: var(--theme-shade-lightest);
  text-shadow: 3px 3px 0 var(--theme-color-darkest);
}

@media screen and (min-width: 768px) {
  h1.page-title {
    font-size: 50px;
  }
}

/* Hero Text */
.hero-text {
  max-width: 600px;
  font-size: 18px;
  text-align: center;
  color: var(--theme-shade-dark);
}

.hero-emphasis {
  font-weight: bold;
  font-size: 26px;
  font-style: italic;
  color: var(--theme-color-accent);
}
