/* =====================================
Media queries used for layout site wide:
min-width: 411px;
min-width: 768px;
min-width: 1024px;
min-width: 1224px;
======================================== */

/* ====================
Primary site nagivation
======================= */
.navbar {
  width: 100vw;
  height: 100%;
  transition: background 1s;
  transition-timing-function: ease-in-out;
  background: var(--color-nav-bg);
}

.stripe-midtone {
  height: 6.25px;
  width: 100vw;
  transition: background 1s;
  transition-timing-function: ease-in-out;
  background: var(--color-light);
}

.stripe-light {
  height: 6.25px;
  width: 100vw;
  transition: background 1s;
  transition-timing-function: ease-in-out;
  background: var(--shade-light);
}

.stripe-accent {
  height: 6.25px;
  width: 100vw;
  transition: background 1s;
  transition-timing-function: ease-in-out;
  background: var(--color-accent);
}

.primary-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 56.25px;
  width: 100vw;
}

.primary-nav > li > a {
  padding: 10px;
  font-size: 1.3rem;
  text-transform: uppercase;
  transition: color 0.5s, font-size 0.5s;
  transition-timing-function: ease-in-out;
  color: var(--color-nav-link);
}

.primary-nav > li > a:hover,
.primary-nav > li > a.active {
  color: var(--color-link-achov);
}

@media screen and (min-width: 411px) {
  .primary-nav > li > a {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .primary-nav > li > a {
    font-size: 1.75rem;
  }
}

@media (min-width: 1224px) {
  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px;
    height: 100vh;
    background: var(--color-nav-bg);
  }

  .primary-nav {
    order: 1;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 33%;
    max-height: 200px;
    width: 150px;
  }

  .stripe-midtone {
    order: 2;
    height: 100vh;
    width: 16.66px;
    background: var(--color-light);
  }

  .stripe-light {
    order: 3;
    height: 100vh;
    width: 16.66px;
    background: var(--shade-light);
  }

  .stripe-accent {
    order: 4;
    height: 100vh;
    width: 16.66px;
    background: var(--color-accent);
  }
}

/* ====================
Social media nagivation
======================= */
.social-nav {
  text-align: center;
  padding-bottom: 20px;
}

.social-nav li {
  display: inline-block;
  padding: 0 10px;
  text-align: center;
  fill: var(--color-icon);
}

.social-nav li a {
  fill: var(--color-icon);
}

.social-nav li:hover g.outline {
  transform-origin: center;
  animation: spin 8s linear 0.25s infinite;
  fill: var(--color-link-achov);
}

/* =============
Dark mode toggle
================ */
.theme-toggle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

/* Remove toggle from document flow and pin
to upper right corner
*/
@media screen and (min-width: 1024px) {
  .theme-toggle {
    position: absolute;
    top: 20px;
    right: 40px;
    flex-direction: column;
  }
}

.theme-toggle label {
  color: var(--color-text-heading);
}

/* Hide checkbox */
.theme-toggle input {
  width: 0;
  height: 0;
  opacity: 0;
}

.theme-toggle div {
  fill: var(--color-icon);
}

.theme-toggle div h4 {
  margin: 5px 0 0 0;
}

.theme-toggle div:hover g.outline {
  transform-origin: center;
  animation: spin 8s linear 0.25s infinite;
  fill: var(--color-link-achov);
}

/* ========
Page titles
=========== */
.page-title {
  margin-bottom: 0;
  font-size: 1.6rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-page-bg);
  text-shadow: 3px 3px 0 var(--color-text-heading);
}

.page-title-aside {
  font-size: 1.25rem;
  text-align: right;
}

@media screen and (min-width: 768px) {
  .page-title {
    font-size: 3.5rem;
  }

  .page-title-aside {
    font-size: 1.6rem;
    text-align: right;
  }
}

.layout-main-container .index-image * {
  max-width: 300px !important;
  margin-bottom: 20px;
}

/* =======
Hero Text 
========= */
.hero-text {
  max-width: 800px;
  font-size: 28px;
  text-align: center;
  font-family: "Teko";
  color: var(--color-text);
}

.hero-emphasis {
  font-weight: 500;
  font-size: 42px;
  font-style: italic;
  color: var(--color-link-achov);
}

/* ===
Images
====== */
.layout-main-container .index-image {
  width: 300px !important;
}

/* ====
Buttons
======= */
a.button-link {
  width: max-content;
  padding: 0.3rem 0.5rem;
  border-radius: 0.2rem;
  font-family: "Teko", sans-serif;
  font-size: 1.1rem;
  background: var(--color-icon);
  color: var(--color-page-bg);
}

a.button-link:hover {
  background: var(--color-icon-achov);
}

/* =========================================
Blog and Projects Items AKA collection-items
============================================ */
.collection-item-title {
  margin-bottom: 0;
}

.collection-item-info {
  margin-bottom: 0.3rem;
}

.collection-item-info li {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 0 3px;
  color: var(--color-text-heading);
}

.collection-item-summary {
  margin: 0 0 0.5rem 0;
}

.collection-item a.button-link {
  justify-self: flex-end;
  align-self: flex-start;
  margin-top: auto;
}

/* =======================
Blog and post detail views
========================== */
.post-title h1 {
  margin: auto auto 0 auto;
}

.post-title {
  text-align: center;
  padding: 10px 10px 0 10px;
}

.post-info {
  text-align: center;
  margin-bottom: 20px;
  padding: 0 10px 10px 10px;
}

.post-info :first-child p {
  margin: 0;
  padding: 0 10px 20px 10px;
}

.post-info :not(:first-child) {
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
}

.post-content {
  padding: 10px;
}

.post-content p {
  font-size: 1.125rem;
  line-height: 1.2rem;
  text-align: left;
}

.post-content img,
.post-content iframe {
  display: block;
  margin: 0 auto 1rem auto;
  text-align: center;
}

.post-content pre {
  padding: 10px;
}

.post-content code.language-text {
  padding: 5px 10px;
}

/* ======
Footnotes
========= */
.footnotes p {
  font-size: 0.9rem;
  font-family: "Times New Roman", Times, serif;
}

.footnotes a:link {
  text-decoration: underline;
}

.footnotes a:hover {
  color: var(--color-link-achov);
}
