/* =====================================
Media queries used for layout site wide:
min-width: 411px;
min-width: 768px;
min-width: 1024px;
min-width: 1224px;
======================================== */

/* ====================
Primary site nagivation
======================= */
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: space-between;
  height: 100%;
  padding-bottom: 3%;
  transition: background 1s;
  transition-timing-function: ease-in-out;
  background: linear-gradient(
    0deg,
    var(--theme-color-darkest) 75%,
    #4f5775 75% 83.3%,
    var(--theme-shade-lightest) 83.3% 91.6%,
    var(--theme-color-accent) 91.6% 100%
  );
}

@media screen and (min-width: 768px) {
  .navbar {
    padding-bottom: 1%;
  }
}

.primary-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
}

.primary-nav > li > a {
  padding: 10px;
  font-size: 1.3rem;
  text-transform: uppercase;
  transition: color 0.5s, font-size 0.5s;
  transition-timing-function: ease-in-out;
  color: var(--theme-shade-lightest);
}

.primary-nav > li > a:hover,
.primary-nav > li > a.active {
  color: var(--theme-color-accent);
}

@media screen and (min-width: 411px) {
  .primary-nav > li > a {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .primary-nav > li > a {
    font-size: 1.75rem;
  }
}

@media (min-width: 1224px) {
  .navbar {
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background: linear-gradient(
      90deg,
      var(--theme-color-darkest) 85%,
      #4f5775 85% 90%,
      var(--theme-shade-lightest) 90% 95%,
      var(--theme-color-accent) 95% 100%
    );
  }

  .primary-nav {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 33%;
    max-height: 250px;
    margin-left: 10%;
  }
}

/* ====================
Social media nagivation
======================= */
.social-nav {
  text-align: center;
  padding-bottom: 20px;
}

.social-nav li {
  display: inline-block;
  padding: 0 10px;
  text-align: center;
}

.social-nav a > svg:hover path {
  fill: var(--theme-color-accent);
}

/* TEXT MODULES */
.page-title {
  margin-bottom: 0;
  font-size: 1.6rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--theme-shade-lightest);
  text-shadow: 3px 3px 0 var(--theme-color-darkest);
}

.page-title-aside {
  font-size: 1.25rem;
  text-align: right;
}

@media screen and (min-width: 768px) {
  .page-title {
    font-size: 3.5rem;
  }

  .page-title-aside {
    font-size: 1.6rem;
    text-align: right;
  }
}

.layout-main-container .index-image * {
  max-width: 300px !important;
  margin-bottom: 20px;
}

/* Hero Text */
.hero-text {
  max-width: 800px;
  font-size: 28px;
  text-align: center;
  font-family: "Teko";
  color: var(--theme-shade-dark);
}

.hero-emphasis {
  font-weight: 500;
  font-size: 42px;
  font-style: italic;
  color: var(--theme-color-accent);
}

.layout-main-container .index-image {
  width: 300px !important;
}

/* =======
Blog posts
========== */
.blog-post {
  padding: 10px;
}

.blog-post-data li {
  display: inline-block;
  font-weight: 700;
  padding: 0 3px;
}
